@use '@Styles/' as *;

.product-info {
  &__image {
    width: max-content;
    max-height: 550px;
    height: 75%;
    position: relative;
    margin: 0 auto;
    max-width: 100%;

    @include for-size(tablet-portrait) {
      width: 60%;
      padding-right: 10px;
      height: 500px;
    }

    @include for-size(mobile) {
      width: 100%;
      padding: 0;
      max-height: 450px;
    }

    @media (orientation: landscape) and (max-height: 620px) {
      max-height: 80vh;
    }

    > div {
      height: 100%;
      max-height: 550px;

      @include for-size(tablet-portrait) {
        max-height: 500px;
      }
    }

    img {
      height: 100%;
      object-fit: cover;

      @include for-size(tablet-portrait) {
        width: 100%;
      }

      @include for-size(mobile) {
        max-height: 450px;
      }
    }
  }

  &__gallery {
    margin: 0 -10px;
    height: 25%;
    max-height: 200px;
    margin-top: 20px;
    background-color: $color-white;
    z-index: 1;
    position: relative;

    @include for-size(tablet-landscape) {
      max-height: 175px;
    }

    @include for-size(tablet-portrait) {
      width: 40%;
      margin: -20px 0 0 0;
      padding-left: 10px;
      max-height: 550px;
    }

    @media (max-width: 700px) {
      padding-left: 0;
    }

    @include for-size(mobile) {
      padding: 0 5px;
      width: calc(100% + 20px);
      margin: 0 0 0 -10px;
    }

    .slick-next,
    .slick-prev {
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      transform: initial;
      bottom: 0;
      top: initial;
      z-index: 1;
    }

    .slick-next {
      right: 10px;
    }

    .slick-prev {
      left: 10px;
    }

    .slick-slider,
    .slick-list,
    .slick-track {
      height: 100%;
    }

    .slick-list,
    .slick-track {
      @include for-size(tablet-portrait) {
        max-height: 525px;
        touch-action: none;
      }
    }

    .slick-list {
      @media (orientation: landscape) and (max-height: 620px) {
        max-height: 86vh;
      }
    }

    .slick-slide {
      @include for-size(tablet-portrait) {
        height: 33.33%;
        display: flex;

        & > div {
          width: 50%;

          &:first-child {
            padding-right: 10px;

            @media (max-width: 700px) {
              padding-right: 5px;
            }
          }

          &:last-child {
            padding-left: 10px;

            @media (max-width: 700px) {
              padding-left: 5px;
            }
          }
        }
      }

      @include for-size(mobile) {
        height: initial;

        & > div {
          width: initial;

          &:last-child,
          &:first-child {
            padding: 0;
          }
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .slick-slide div {
      height: 100%;
    }

    &-image {
      padding: 0 10px;

      @include for-size(tablet-portrait) {
        padding: 20px 0 0 0;
      }

      @include for-size(mobile) {
        padding: 10px 5px 5px 5px;
      }

      button {
        height: 100%;
        width: 100%;
      }

      img {
        @include for-size(tablet-portrait) {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }

    .active-image > button {
      border: 3px solid $color-brown;

      img {
        transform: scale(0.85);
      }
    }
  }
}
