@use '@Styles/variables' as *;
@use '@Styles/mixins' as *;

.ssh-input {
  width: 725px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  label {
    flex: 1;
    border-bottom: $border-solid-brown;
  }

  &--simple {
    font-size: $input-size;
    line-height: 1;
    color: $color-brown;
    padding: 12px;
    width: 100%;
    background-color: $color-transparent;

    @include for-size(mobile) {
      font-size: $input-size-small;
    }

    &::placeholder {
      color: $color-brown;
      font-size: $input-size;

      @include for-size(mobile) {
        font-size: $input-size-small;
      }
    }

    &:focus-visible {
      outline: none;
    }
  }

  &--with-icon {
    padding-right: 55px;
  }

  &__validation-text {
    position: absolute;
    bottom: -27px;
    left: 6px;
    font-size: $validation-message-size;
    color: $color-error;
    padding: 3px 6px;
    border-radius: 0 0 3px 3px;
  }

  &__icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
}
