@use '@Styles/variables' as *;
@use '@Styles/mixins' as *;

.ssh-input {
  width: 725px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  label {
    flex: 1;
    border-bottom: $border-solid-brown;

    input {
      font-size: 32px;
      line-height: 1;
      color: $color-brown;
      padding: 12px;
      width: 100%;
      background-color: $color-transparent;

      @include for-size(mobile) {
        font-size: 28px;
      }

      &::placeholder {
        color: $color-brown;
        font-size: 32px;

        @include for-size(mobile) {
          font-size: 28px;
        }
      }

      &:focus-visible {
        outline: none;
      }
    }

    input.input-with-icon {
      padding-right: 55px;
    }
  }

  &__validation-text {
    position: absolute;
    bottom: -27px;
    left: 6px;
    font-size: 14px;
    color: $color-error;
    background-color: $primary-color;
    padding: 3px 6px;
    border-radius: 0 0 3px 3px;
  }

  &__icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
}
