@use '@Styles/variables' as *;
@use '@Styles/mixins' as *;

.products-list {
  overflow: hidden;

  &__container {
    padding: calc($vertical-padding-desktop / 3) 30px $vertical-padding-desktop
      30px;

    @include for-size(tablet-portrait) {
      padding: calc($vertical-padding-tablet / 4) 30px $vertical-padding-tablet
        30px;
    }

    @include for-size(mobile) {
      padding: calc($vertical-padding-mobile / 4) 30px $vertical-padding-mobile
        30px;
    }
  }

  &__row {
    flex-direction: column;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include for-size(mobile) {
      margin-bottom: 15px;
    }
  }

  &__filters,
  &__sort {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      font-family: $font-secondary;
      font-size: 28px;
      line-height: 1.33;
      margin-right: 20px;
      color: $color-brown;

      @include for-size(mobile) {
        font-size: 24px;
        margin-right: 16px;
      }
    }

    svg {
      @include for-size(mobile) {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__results {
    display: flex;
    flex-wrap: wrap;
    margin: -20px -40px;

    @include for-size(tablet-landscape) {
      margin: -20px;
    }

    @include for-size(tablet-portrait) {
      margin: -15px;
    }

    @include for-size(mobile) {
      margin: -10px;
    }

    @include for-size(mobile-small) {
      margin: -15px 0;
    }

    .product-card {
      width: 33.33%;
      padding: 20px 40px;

      @include for-size(tablet-landscape) {
        padding: 20px;
      }

      @include for-size(tablet-portrait) {
        width: 50%;
        padding: 15px;
      }

      @include for-size(mobile) {
        padding: 10px;
      }

      @include for-size(mobile-small) {
        width: 100%;
        padding: 15px 0;
      }

      &__image img {
        max-height: 400px;
        object-fit: cover;

        @include for-size(mobile-small) {
          max-height: 300px;
          object-fit: cover;
        }
      }
    }
  }
}
