@use '@Styles/variables' as *;
@use '@Styles/mixins' as *;

.products-sort {
  background-color: $primary-color;
  position: absolute;
  z-index: 10;
  top: 89px;
  right: 30px;
  padding: 60px 40px;
}
