@use '@Styles/mixins' as *;
@use '@Styles/variables' as *;

.empty-cart-container {
  padding: calc($vertical-padding-desktop / 4) 30px
    calc($vertical-padding-tablet) 30px;

  .ssh-row {
    min-height: calc(100vh - 390px);

    @include for-size(tablet-portrait) {
      min-height: calc(100vh - 562px);
    }

    @include for-size(mobile) {
      min-height: calc(100vh - 700px);
    }
  }
}

.cart-list__empty {
  margin-top: -50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-size(tablet-portrait) {
    margin-top: -30px;
  }

  @include for-size(mobile) {
    margin-top: -50px;
  }
}
