@font-face {
  font-family: YanoneKaffeesatz;
  src: url('~@Assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: YanoneKaffeesatz;
  src: url('~@Assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: YanoneKaffeesatz;
  src: url('~@Assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: YanoneKaffeesatz;
  src: url('~@Assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: NothingYouCouldDo;
  src: url('~@Assets/fonts/NothingYouCouldDo/NothingYouCouldDo-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: DancingScript;
  src: url('~@Assets/fonts/DancingScript/DancingScript-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: DancingScript;
  src: url('~@Assets/fonts/DancingScript/DancingScript-Bold.ttf');
  font-weight: 700;
}

$primary-color: #fef7f3;
$secondary-color: #ffe2d1;
$color-brown: #895f5f;
$color-brown-dark: #553e3e;
$color-transparent: #0000;
$color-white: #ffff;
$color-black: #00000010;
$color-error: #ff0000;
$color-overlay: #553e3e66;
$color-scrollbar: #e0e0e0;

$font-primary: YanoneKaffeesatz;
$font-secondary: NothingYouCouldDo;
$font-tertiary: DancingScript;

$font-weight-texts: 300;
$font-weight-titles: 400;
$font-weight-footer: 600;

$border-solid-brown: 1px solid $color-brown;
$border-solid-menu: 1px solid rgba($color-black, 0.1);
$box-shadow-primary: 0px 2px 6px rgba($color-brown, 0.2);

$vertical-padding-desktop: 120px;
$vertical-padding-tablet: 80px;
$vertical-padding-mobile: 64px;

$input-size: 32px;
$input-size-small: 28px;
$validation-message-size: 14px;
$input-search-size: 28px;
$input-search-size-small: 24px;
$title-size: 56px;
$title-size-small: 45px;
$card-text-size: 36px;
$breadcrumb-size: 24px;
$breadcrumb-size-mobile: 20px;
