@use '@Styles/typography/' as *;
@use '@Styles/colors' as *;

$border-solid-brown: 1px solid $color-brown;
$border-solid-menu: 1px solid rgba($color-black, 0.1);
$border-solid-accordion: 1px solid $color-brown-dark;
$border-solid-success: 4px solid rgba(56, 178, 17);
$box-shadow-primary: 0px 2px 6px rgba($color-brown, 0.2);

$vertical-padding-desktop: 120px;
$vertical-padding-tablet: 80px;
$vertical-padding-mobile: 64px;

$input-size: 32px;
$input-size-medium: 28px;
$input-size-small: 24px;
$validation-message-size: 14px;
$input-search-size: 28px;
$input-search-size-small: 24px;
$title-size: 56px;
$title-size-medium: 45px;
$title-size-small: 40px;
$card-text-size: 36px;
$breadcrumb-size: 24px;
$breadcrumb-size-mobile: 20px;
$breadcrumb-size-mobile-small: 16px;
