@font-face {
  font-family: YanoneKaffeesatzLight;
  src: url('~@Fonts/YanoneKaffeesatz/YanoneKaffeesatz-Light.ttf');
}

@font-face {
  font-family: NothingYouCouldDoRegular;
  src: url('~@Fonts/NothingYouCouldDo/NothingYouCouldDo-Regular.ttf');
}

$primary-color: #FEF7F3;
$secondary-color: #FFE2D1;
$color-brown: #895F5F;
$color-brown-dark: #553E3E;
$font-primary: YanoneKaffeesatzLight;
$font-secondary: NothingYouCouldDoRegular;
