@use '@Styles/variables' as *;
@use '@Styles/mixins' as *;

.home-newsletters {
  &__row {
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: $title-size;
    margin-bottom: 20px;

    @include for-size(mobile) {
      font-size: $title-size-small;
    }

    @include for-size(mobile-small) {
      font-size: $title-size-extrasmall;
    }
  }

  &__subtitle {
    margin-bottom: 35px;
  }

  &__input {
    margin-bottom: 40px;
    width: 100%;
    max-width: 725px;
  }

  &__button {
    font-size: 28px;

    @include for-size(desktop) {
      width: 315px;
    }

    @include for-size(mobile) {
      font-size: 26px;
    }

    @include for-size(mobile-small) {
      font-size: 24px;
    }
  }
}
