@use '@Styles/variables' as *;
@use '@Styles/mixins' as *;

.ssh-header {
  background-color: $primary-color;
  position: fixed;
  width: 100%;
  z-index: 10;

  &__container {
    padding: calc($vertical-padding-desktop / 4) 30px;

    @include for-size(tablet-portrait) {
      padding-bottom: 30px;
    }
  }

  &__row {
    justify-content: space-between;
    align-items: center;
  }

  &__col {
    width: 33.33%;
  }

  &__logo {
    @include for-size(tablet-portrait) {
      display: flex;
      order: 2;
      justify-content: center;
    }

    a {
      display: inline-block;
      width: 150px;

      @include for-size(tablet-portrait) {
        width: 130px;
      }

      @include for-size(mobile) {
        width: 110px;
      }
    }
  }

  &__mobile-icons {
    display: none;
    height: 100%;

    @include for-size(tablet-portrait) {
      display: block;
      position: relative;
    }

    svg {
      position: absolute;
      left: 0;

      transform: rotate(0);
      cursor: pointer;
      transition: all calc(500 * 1ms) cubic-bezier(0.42, 0.01, 0.58, 1);
      opacity: 1;
    }

    &--expand {
      width: 30px;
      top: 0;

      @include for-size(mobile) {
        width: 24px;
      }
    }

    &--collapse {
      width: 28px;
      top: -10%;

      @include for-size(mobile) {
        width: 22px;
      }
    }

    .invisible-icon {
      opacity: 0;
      transform: rotate(360deg);
    }
  }

  &__links {
    @include for-size(tablet-portrait) {
      order: 1;
      align-self: stretch;
    }

    &-list {
      display: flex;
      justify-content: space-around;
      align-items: center;

      @include for-size(tablet-portrait) {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        z-index: 10;
        top: 84px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.75s ease-in-out;
      }

      a.ssh-header__link {
        text-transform: uppercase;
        font-size: 28px;
        line-height: 1;
        color: $color-brown;

        @include for-size(tablet-portrait) {
          width: 100%;
          padding: 15px 30px;
          background: $color-white;
          border-bottom: $border-solid-menu;

          &:last-of-type {
            border-bottom: none;
          }
        }
      }

      a.active-menu-link {
        font-weight: 400;
      }
    }

    &-list.mobile-visible {
      @include for-size(tablet-portrait) {
        max-height: 300px;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    order: 3;

    &--cart,
    &--profile {
      margin-left: 24px;
      z-index: 1;
      @include for-size(mobile) {
        margin-left: 12px;
      }

      svg {
        @include for-size(mobile) {
          width: 28px;
        }
      }
    }

    &--cart.active-menu-link,
    &--profile.active-menu-link {
      svg path {
        stroke: $color-brown;
        stroke-width: 1px;
      }
    }

    &--cart {
      position: relative;

      span {
        position: absolute;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: $color-brown;
        top: -6px;
        right: -9px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        color: $color-white;
        padding: 5px 4px 5px 6px;

        @include for-size(mobile) {
          height: 16px;
          width: 16px;
          font-size: 11px;
          top: 4px;
          right: -5px;
          padding: 3px 4px 5px 5px;
        }
      }
    }

    form {
      flex: 1;

      @include for-size(tablet-portrait) {
        display: none;
      }
    }
  }

  &__input {
    width: auto;

    label {
      max-width: 0;
      opacity: 0;
      transition: all 0.5s linear;

      input {
        font-size: $input-search-size;

        @include for-size(mobile) {
          font-size: $input-search-size-small;
        }

        &::placeholder {
          font-size: $input-search-size;

          @include for-size(mobile) {
            font-size: $input-search-size-small;
          }
        }
      }
    }

    img {
      @include for-size(mobile) {
        width: 28px;
      }
    }
  }

  &__input.input-expanded {
    label {
      max-width: 100%;
      opacity: 1;
    }
  }

  &__search-mobile {
    display: none;
    width: 100%;
    order: 4;

    @include for-size(tablet-portrait) {
      display: block;
    }

    label {
      max-width: initial;
      opacity: 1;

      input {
        padding: 20px 55px 12px 4px;

        @include for-size(mobile) {
          padding-bottom: 6px;
        }
      }
    }

    .ssh-input__icon {
      right: 4px;
    }
  }
}

.ssh-header--scrolled {
  box-shadow: $box-shadow-primary;
}
