@use '@Styles/variables' as *;
@use '@Styles/mixins' as *;

.home-slider {
  &__row {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__button-container {
    text-align: center;
    margin-top: 40px;
  }
}
