@font-face {
  font-family: YanoneKaffeesatz;
  src: url('~@Assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-ExtraLight.ttf');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: YanoneKaffeesatz;
  src: url('~@Assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: YanoneKaffeesatz;
  src: url('~@Assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: YanoneKaffeesatz;
  src: url('~@Assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: YanoneKaffeesatz;
  src: url('~@Assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: NothingYouCouldDo;
  src: url('~@Assets/fonts/NothingYouCouldDo/NothingYouCouldDo-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: DancingScript;
  src: url('~@Assets/fonts/DancingScript/DancingScript-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: DancingScript;
  src: url('~@Assets/fonts/DancingScript/DancingScript-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}
