@use '@Styles/' as *;

.cart-summary {
  margin-top: -1px;

  &__container {
    padding: 0 30px calc($vertical-padding-tablet) 30px;

    @include for-size(mobile) {
      padding: 0 30px calc($vertical-padding-mobile) 30px;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__col {
    width: 26%;
    padding-top: 5px;

    @include for-size(tablet-portrait) {
      width: 50%;
    }

    @include for-size(mobile) {
      width: 100%;
    }

    & > div {
      display: flex;
      justify-content: space-between;
      border-bottom: $border-solid-menu;
      padding: 15px 0;

      span {
        font-family: $font-secondary;
        color: #553e3e;
        line-height: 1;
        font-size: 28px;

        @include for-size(tablet-portrait) {
          font-size: 24px;
        }

        &:last-child {
          font-family: $font-primary;
          color: $color-brown-dark;
          font-weight: 400;
        }
      }
    }

    button {
      margin-top: 20px;
      width: 100%;
      padding: 10px 28px;
      font-size: 32px;

      @include for-size(tablet-portrait) {
        font-size: 28px;
      }

      @include for-size(mobile) {
        padding: 12px 28px;
        font-size: 26px;
      }

      @include for-size(mobile-small) {
        padding: 10px 28px;
        font-size: 24px;
      }
    }
  }
}
