@use '@Styles/mixins' as *;
@use '@Styles/colors' as *;

.products-filters {
  background-color: $primary-color;
  position: absolute;
  z-index: 1000;
  top: 89px;
  left: 30px;
  padding: 40px 60px 40px 60px;
  width: min-content;
  height: calc(100vh - 285px);
  max-height: 522px;
  max-width: calc(100vw - 60px);
  overflow: hidden auto;

  @include for-size(tablet-landscape) {
    width: calc(100vw - 60px);
  }

  @include for-size(tablet-portrait) {
    top: 69px;
    padding: 40px 32px;
    left: 0;
    max-width: initial;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 310px);
  }

  @include for-size(mobile) {
    top: 30px;
    left: 30px;
    max-height: initial;
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    padding: 0;
    overflow: hidden;
  }

  @include for-size(mobile-small) {
    top: 15px;
    left: 15px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
  }

  &__close {
    display: none;
    position: absolute;
    right: 12px;
    top: 4px;
    padding: 4px;
    cursor: pointer;

    @include for-size(mobile) {
      display: block;
    }

    svg {
      width: 16px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 80px;

    @include for-size(tablet-landscape) {
      gap: 30px;
    }

    @include for-size(mobile) {
      display: flex;
      flex-direction: column;
      padding: 40px 30px;
      height: 100%;
      overflow: auto;
    }

    @include for-size(mobile-small) {
      padding: 30px;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 11px;
    font-size: 28px;
    line-height: 1;
    color: $color-brown;

    @include for-size(mobile) {
      font-size: 24px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }

  &__col {
    min-width: 290px;

    @include for-size(tablet-landscape) {
      min-width: auto;
    }
  }

  &__color {
    margin: -3px;
  }

  &__price {
    grid-area: 2 / 1 / 2 / 4;

    .products-filters__title {
      margin-bottom: 20px;

      @include for-size(mobile) {
        margin-bottom: 25px;
      }
    }

    .multi-range-slider-values {
      margin-top: -40px;
    }
  }

  &__button {
    button {
      font-size: 28px;
      padding: 8px 16px;
    }

    &--apply {
      display: none;

      @include for-size(mobile) {
        margin-bottom: -10px;
        display: block;
      }

      button {
        background-color: $color-brown;
        color: $primary-color;
      }
    }

    &--reset {
      grid-area: 4 / 1 / 4 / 2;
    }
  }
}
