@use '@Styles/variables' as *;
@use '@Styles/mixins' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: $font-primary;
  font-weight: $font-weight-texts;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  font-weight: $font-weight-titles;
  line-height: 1.33;
  color: $color-brown;
  text-align: center;
}

h1 {
  font-size: $title-size;

  @include for-size(mobile) {
    font-size: $title-size-small;
  }
}

h2 {
  font-size: 40px;

  @include for-size(tablet-portrait) {
    font-size: 36px;
  }

  @include for-size(mobile) {
    font-size: 32px;
  }
}

h3 {
  font-size: 30px;

  @include for-size(mobile) {
    font-size: 24px;
  }
}

.ssh-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: $vertical-padding-desktop 30px;
  width: 100%;

  @include for-size(tablet-landscape) {
    padding: $vertical-padding-tablet 30px;
  }

  @include for-size(mobile) {
    padding: $vertical-padding-mobile 30px;
  }
}

.ssh-row {
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1.75px;
  text-align: start;

  @include for-size(mobile) {
    text-align: center;
  }
}

#search-overlay-container {
  padding-top: 114px;

  @include for-size(tablet-portrait) {
    padding-top: 161px;
  }

  @include for-size(mobile) {
    padding-top: 151px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: lighten($color: $color-brown, $amount: 30%);
  border-radius: 24px;
}

::-webkit-scrollbar-track {
  background: $color-scrollbar;
  border-radius: 24px;
}
