@use '@Styles/mixins' as *;

.ssh-footer__socials {
  display: flex;
  align-items: center;
  height: 100%;

  li {
    margin: 0 15px;
  }

  @include for-size(tablet-portrait) {
    justify-content: center;
  }

  @include for-size(mobile) {
    justify-content: center;
    padding-bottom: 40px;
  }
}
