@use '@Styles/' as *;

.cart-list {
  display: flex;
  min-height: calc(100vh - 390px);

  @include for-size(tablet-portrait) {
    min-height: calc(100vh - 562px);
  }

  @include for-size(mobile) {
    min-height: calc(100vh - 700px);
  }

  &__container {
    padding: calc($vertical-padding-desktop / 4) 30px
      calc($vertical-padding-tablet) 30px;
  }

  &__row {
    height: 100%;
  }

  &__empty {
    margin-top: -50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include for-size(tablet-portrait) {
      margin-top: -30px;
    }

    @include for-size(mobile) {
      margin-top: -50px;
    }
  }

  &__table {
    width: 100%;

    &-head {
      display: flex;
      border-bottom: $border-solid-menu;

      div:first-child {
        width: 55%;
      }
    }

    &-title {
      width: 15%;
      padding-bottom: 20px;

      span {
        font-family: $font-secondary;
        color: $color-brown-dark;
        line-height: 1;
        font-size: 28px;
      }
    }

    .table-title-price {
      text-align: start;
    }

    .table-title-quantity {
      text-align: center;
    }

    .table-title-total {
      text-align: end;
    }
  }
}
