@use '@Styles/variables' as *;
@use '@Styles/mixins' as *;

.ssh-accordion {
  & > div:last-child {
    border-bottom: none;

    .ssh-accordion__content {
      padding-bottom: 0;
    }
  }

  &__item {
    border-bottom: $border-solid-accordion;
    cursor: pointer;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    line-height: 1;
    text-transform: uppercase;
    color: $color-brown-dark;
    padding: 16px 8px 16px 0;

    svg {
      cursor: pointer;
      margin-left: 16px;

      @include for-size(mobile-small) {
        width: 20px;
      }
    }
  }

  &__content {
    font-size: 24px;
    line-height: 1;
    color: $color-brown-dark;
    font-weight: 200;
    padding-bottom: 40px;
  }
}
