@use '@Styles/' as *;

.ssh-button {
  border: 1px solid $color-brown;
  padding: 12px 28px;
  color: $color-brown;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  font-family: $font-primary;

  @include for-size(mobile) {
    font-size: 26px;
    width: 100%;
  }

  @include for-size(mobile-small) {
    padding: 10px;
    font-size: 24px;
  }

  .ssh-spinner {
    padding: 0 !important;

    svg {
      height: 100%;
    }
  }
}
